@import "variables";

html, body{
  font-family: 'Lato';
  font-weight: 400;
  font-size: 16px;
  color: $main-text-color;
  background: $app-bg-color;
}

*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

