@import "../fonts/lato";
@import "reset";

$main-text-color: #FFFFFF;
$second-text-color: rgba(255,255,255,0.87);
$purple-color: #8875FF;
$red-color: #FF4949;
$input-bg-color: #1D1D1D;
$light-gray-color: #979797;
$dark-gray-color: #363636;
$dark-bg-color: #272727;
$dim-gray-color: #AFAFAF;
$button-bg-color: rgba(255, 255, 255, 0.21);
$border-radius: 4px;



